<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>TriDAS</title>
  </head>
  <body style="background-color:#f6dd9b;">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">TriDAS is ready to fly!</h1>
    <p class="lead">Trieste Advance Data Services (TriDAS) is designed to enable advanced data services connected to the already stored scientific data resources on the NEP shared storage infrastructure. The platform will host several virtual access services that can be classified in broad categories:</p>
    <ul>
    <li>1) Data Services developed within specific experimental/computational techniques;</li>
    <li>2) Data Services developed at a more general level to address specific class of scientific data (i.e. images, 3D archives).</li>
    </ul>
    <p class="lead">
    The platform is seamless integrated in the NEP data repository, allowing users or proposal user groups to access the services immediately and without any need of data transfer.
    It will be fully operational at Month 31.
    Services currently offered by the infrastructure: All the participating infrastructures have been known to offer high level services and research in many initiatives of international level, including EOSC, EUDAT, RDA, and NFFA-Europe. A short overview of currently available services, divided in simulation and data, is reported below. Additional information on current offer, research topics.
    </p>
  </div>
</div>

<div class="row ">
<div class="card-group">
  <div class="card">
    <img class="card-img-top img-thumbnail" src="/static/img/semcla.png" alt="sem classifier" style="width:500px; height:300px">
    <div class="card-body">
      <h5 class="card-title">SEM CLASSIFIER</h5>
      <p class="card-text">Automatic classification of your SEM images.
      Use machine learning to automatically tag Scanning Electron Microscopy images and
      contribute to thee imprvement of CNR-IOM image recognition software.</p>
      <a href="http://sem-classifier.nffa.eu" class="btn btn-primary">SEM classifier</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-thumbnail" src="/static/img/semdb.jpg" alt="sem data explorer" style="width:500px; height:300px">
    <div class="card-body">
      <h5 class="card-title">SEM EXPLORER</h5>
      <p class="card-text">Explore a scanning electron microscope database with more than 100k images simply selecting the metadata you need. Plots are interactive and downloadable.</p>
      <a href="http://IP_ADDR:PORT/dashboard_sem/" class="btn btn-primary">SEM database explorer  </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-thumbnail" src="/static/img/stmdb.jpg" alt="stm data explorer" style="width:500px; height:300px">
    <div class="card-body">
      <h5 class="card-title">STM EXPLORER</h5>
      <p class="card-text">Explore a 100K scanning tunneling microscope database simply selecting the metadata you need. Plots are interactive and downloadable.</p>
      <a href="http://IP_ADDR:PORT/dashboard_stm/" class="btn btn-primary">STM database explorer</a>
   </div>
  </div>
</div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
